*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    display: flex;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(65deg, rgb(187, 255, 0) 25%, blue 60%, red 25%, rgb(65, 243, 65) 50%);
}
h1{
    margin-right: 25px;
    color: rgb(41, 235, 235);
}
h1:hover{
    color: lightseagreen;
}
.content{
    padding: 45px;
    background-color: gray;
    border-radius: 8px;
}
.container{
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.resul{
    background-color: greenyellow;
    height: 25px;
    width: 100%;
    z-index: 2;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 4px;
    padding-right: 4px;
    bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
.operation{
    background-color: greenyellow;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    z-index: 1;
    padding-bottom: 4px;
    padding-right: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-left: 4px;
    padding-top: 4px;
}
button{
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: solid 2px rgb(55, 160, 125);
    border-right: solid 2px rgb(55, 160, 125);
    background-color: aqua;
    box-shadow: 3px 4px 2px rgb(50, 99, 99);
    padding: 12px;
    font-size: 15px;
    transition: .2s all;
    cursor: pointer;
}
button:hover{
    background: rgb(105, 133, 133);
}
button:active{
    transform: translateY(3px);
    box-shadow: 0px 2px 1px rgb(50, 99, 99);
}

#egal{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#supp{
    background-color: green;
    color: black;
    font-weight: bold;
}